#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
   .heading{
    h2{
        margin-right: 100px;
    }
   }
   .list-button{
    display: flex;
    gap: 20px;
    ul{
        display: flex;
        gap: 15px;
        margin-top: 7px;
        a{
            color: gray;
        }
        a:hover{
            color: black;
            transition: 0.2s;
        }
        li{
            color: gray;
        }
        li:hover{
            color: black;
            transition: 0.2s;
            cursor: pointer;
        }
    }

    button{
        width: 80px;
        height: 30px;
        border-radius: 30px;
        border-style: none;
        background-color: orange;
        color: white;
         
    }
    button:hover{
        cursor: pointer;
        transition: 0.3s;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
   }

}